In [1]:
# 종량제 봉투 가격 데이터 : https://www.data.go.kr/data/15025538/standard.do

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        762 non-null    object
 1   시군구명       762 non-null    object
 2   종량제봉투종류    762 non-null    object
 3   종량제봉투처리방식  762 non-null    object
 4   종량제봉투용도    762 non-null    object
 5   종량제봉투사용대상  762 non-null    object
 6   1L가격       762 non-null    int64
 7   1.5L가격     762 non-null    int64
 8   2L가격       762 non-null    int64
 9   2.5L가격     762 non-null    int64
 10  3L가격       762 non-null    int64
 11  5L가격       762 non-null    int64
 12  10L가격      762 non-null    int64
 13  20L가격      762 non-null    int64
 14  30L가격      762 non-null    int64
 15  50L가격      762 non-null    int64
 16  60L가격      762 non-null    int64
 17  75L가격      762 non-null    int64
 18  100L가격     762 non-null    int64
 19  120L가격     762 non-null    int64
 20  125L가격     762 non-null    int64
 21  관리부서명      762 non-null    object
 22  관리부서전화번호   762 non-null    object
 23  데이터기준일자    762 non-null    object
 24  제공기관코드     762 non-null    object
 25  제공기관명      762 non-null    object
dtypes: int64(15), object(11)
memory usage: 154.9+ KB

In [3]:
df.isnull().sum()

시도명          0
시군구명         0
종량제봉투종류      0
종량제봉투처리방식    0
종량제봉투용도      0
종량제봉투사용대상    0
1L가격         0
1.5L가격       0
2L가격         0
2.5L가격       0
3L가격         0
5L가격         0
10L가격        0
20L가격        0
30L가격        0
50L가격        0
60L가격        0
75L가격        0
100L가격       0
120L가격       0
125L가격       0
관리부서명        0
관리부서전화번호     0
데이터기준일자      0
제공기관코드       0
제공기관명        0
dtype: int64

In [ ]:
# 1-1

# 20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후,
# 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 
# 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [4]:
filtered_df = df[(df["20L가격"] != 0) & (df["5L가격"] != 0)]

In [5]:
filtered_df['차이가격']=filtered_df['20L가격']-df['5L가격']

C:\Users\user\AppData\Local\Temp\ipykernel_12704\3649762085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['차이가격']=filtered_df['20L가격']-df['5L가격']

In [6]:
result=filtered_df.groupby('시도명')['차이가격'].mean()

In [7]:
result.sort_values(ascending=False).iloc[0]

619.0

In [80]:
# 성인 체중 및 키 데이터 : 자체 제작
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [ ]:
#1-2

#BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 
#초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다.
# 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10000 non-null  object
 1   height(cm)  10000 non-null  float64
 2   weight(kg)  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [82]:
df.isnull().sum()

ID            0
height(cm)    0
weight(kg)    0
dtype: int64

In [91]:
df['BMI']=df['weight(kg)']/(df['height(cm)']*df['height(cm)']/10000)

In [92]:
df

              ID  height(cm)  weight(kg)        BMI
0         user_1       173.0        67.5  22.553376
1         user_2       149.5        82.5  36.912339
2         user_3       143.8        64.6  31.240268
3         user_4       163.1        87.2  32.779971
4         user_5       159.6        77.1  30.268340
...          ...         ...         ...        ...
9995   user_9996       144.0        74.4  35.879630
9996   user_9997       161.1        84.1  32.404469
9997   user_9998       137.1        68.9  36.655936
9998   user_9999       187.5        89.2  25.372444
9999  user_10000       172.3        77.5  26.105448

[10000 rows x 4 columns]

In [93]:
# 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만

def BMI(df):
    BMI = df['BMI']

    if BMI < 18.5:
        return '저체중'
    elif 18.5 <= BMI < 23:
        return '정상'
    elif 23 <= BMI < 25:
        return '과체중'
    else :
        return '초고도 비만'

In [94]:
# Apply the BMI function and extract the weight status category
df['비만지수'] = df.apply(lambda row: BMI(row), axis=1)

In [95]:
df['비만지수'].value_counts()

비만지수
초고도 비만    8978
정상         519
과체중        483
저체중         20
Name: count, dtype: int64

In [97]:
# 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?
8978+20

8998

In [8]:
# 년도별 서울 각 구의 초,중,고 전출 전입 인원

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역          250 non-null    object
 1   초등학교_전출_도내  250 non-null    int64
 2   초등학교_전출_도외  250 non-null    int64
 3   초등학교_전입_도내  250 non-null    int64
 4   초등학교_전입_도외  250 non-null    int64
 5   중학교_전출_도내   250 non-null    int64
 6   중학교_전출_도외   250 non-null    int64
 7   중학교_전입_도내   250 non-null    int64
 8   중학교_전입_도외   250 non-null    int64
 9   고등학교_전출_도내  250 non-null    int64
 10  고등학교_전출_도외  250 non-null    int64
 11  고등학교_전입_도내  250 non-null    int64
 12  고등학교_전입_도외  250 non-null    int64
 13  년도          250 non-null    int64
dtypes: int64(13), object(1)
memory usage: 27.5+ KB

In [126]:
df['년도'].value_counts()

년도
2012    25
2013    25
2014    25
2015    25
2016    25
2017    25
2018    25
2019    25
2020    25
2021    25
Name: count, dtype: int64

In [100]:
df.isnull().sum()

지역            0
초등학교_전출_도내    0
초등학교_전출_도외    0
초등학교_전입_도내    0
초등학교_전입_도외    0
중학교_전출_도내     0
중학교_전출_도외     0
중학교_전입_도내     0
중학교_전입_도외     0
고등학교_전출_도내    0
고등학교_전출_도외    0
고등학교_전입_도내    0
고등학교_전입_도외    0
년도            0
dtype: int64

In [ ]:
# 1-3
# 순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.
# 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라.

In [101]:
df['전입인원']=df['초등학교_전입_도내']+df['초등학교_전입_도외']+df['중학교_전입_도내']+df['중학교_전입_도외']+df['고등학교_전입_도내']+df['고등학교_전입_도외']
df['전출인원']=df['초등학교_전출_도내']+df['초등학교_전출_도외']+df['중학교_전출_도내']+df['중학교_전출_도외']+df['고등학교_전출_도내']+df['고등학교_전출_도외']

In [102]:
df['순유입인원']=df['전입인원']-df['전출인원']

In [137]:
# 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

df.groupby('년도')['순유입인원'].max().sum()

13853

In [61]:
# 예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출,
# 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse

import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

display(train.head(2))
test.head(2)

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0

   ID      model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5

In [62]:
train=pd.get_dummies(train,columns=['model','transmission','fuelType'])

In [63]:
test=pd.get_dummies(test,columns=['model','transmission','fuelType'])

In [64]:
test

,ID,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,...,model_ SLK,model_ V Class,model_ X-CLASS,model_220,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Petrol
0,0,2005,63000,325,32.1,1.8,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
1,2,2016,6200,555,28.0,5.5,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
2,14,2016,41713,125,56.6,2.1,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
3,15,2017,24841,150,68.9,1.5,False,True,False,False,...,False,False,False,False,True,False,False,True,False,False
4,18,2017,14128,150,68.9,2.1,False,True,False,False,...,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,13096,2016,27804,260,42.8,3.0,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
3292,13098,2019,10635,145,44.1,1.5,False,False,True,False,...,False,False,False,False,True,False,False,False,False,True
3293,13101,2016,14000,125,56.5,2.1,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
3294,13109,2017,20477,145,68.9,2.1,True,False,False,False,...,False,False,False,False,True,False,False,True,False,False
3295,13112,2019,5000,145,61.4,2.0,False,False,True,False,...,False,False,False,False,True,False,False,True,False,False

In [65]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      9823 non-null   int64
 1   year                    9823 non-null   int64
 2   price                   9823 non-null   int64
 3   mileage                 9823 non-null   int64
 4   tax                     9823 non-null   int64
 5   mpg                     9823 non-null   float64
 6   engineSize              9823 non-null   float64
 7   model_ A Class          9823 non-null   bool
 8   model_ B Class          9823 non-null   bool
 9   model_ C Class          9823 non-null   bool
 10  model_ CL Class         9823 non-null   bool
 11  model_ CLA Class        9823 non-null   bool
 12  model_ CLC Class        9823 non-null   bool
 13  model_ CLK              9823 non-null   bool
 14  model_ CLS Class        9823 non-null   bool
 15  model_ E Class          9823 non-null   bool
 16  model_ G Class          9823 non-null   bool
 17  model_ GL Class         9823 non-null   bool
 18  model_ GLA Class        9823 non-null   bool
 19  model_ GLB Class        9823 non-null   bool
 20  model_ GLC Class        9823 non-null   bool
 21  model_ GLE Class        9823 non-null   bool
 22  model_ GLS Class        9823 non-null   bool
 23  model_ M Class          9823 non-null   bool
 24  model_ R Class          9823 non-null   bool
 25  model_ S Class          9823 non-null   bool
 26  model_ SL CLASS         9823 non-null   bool
 27  model_ SLK              9823 non-null   bool
 28  model_ V Class          9823 non-null   bool
 29  model_ X-CLASS          9823 non-null   bool
 30  model_180               9823 non-null   bool
 31  model_200               9823 non-null   bool
 32  model_230               9823 non-null   bool
 33  transmission_Automatic  9823 non-null   bool
 34  transmission_Manual     9823 non-null   bool
 35  transmission_Other      9823 non-null   bool
 36  transmission_Semi-Auto  9823 non-null   bool
 37  fuelType_Diesel         9823 non-null   bool
 38  fuelType_Hybrid         9823 non-null   bool
 39  fuelType_Other          9823 non-null   bool
 40  fuelType_Petrol         9823 non-null   bool
dtypes: bool(34), float64(2), int64(5)
memory usage: 863.5 KB

train.get_dummies('')

In [66]:
train.isnull().sum()

ID                        0
year                      0
price                     0
mileage                   0
tax                       0
mpg                       0
engineSize                0
model_ A Class            0
model_ B Class            0
model_ C Class            0
model_ CL Class           0
model_ CLA Class          0
model_ CLC Class          0
model_ CLK                0
model_ CLS Class          0
model_ E Class            0
model_ G Class            0
model_ GL Class           0
model_ GLA Class          0
model_ GLB Class          0
model_ GLC Class          0
model_ GLE Class          0
model_ GLS Class          0
model_ M Class            0
model_ R Class            0
model_ S Class            0
model_ SL CLASS           0
model_ SLK                0
model_ V Class            0
model_ X-CLASS            0
model_180                 0
model_200                 0
model_230                 0
transmission_Automatic    0
transmission_Manual       0
transmission_Other        0
transmission_Semi-Auto    0
fuelType_Diesel           0
fuelType_Hybrid           0
fuelType_Other            0
fuelType_Petrol           0
dtype: int64

In [67]:
X=train.drop(['price','ID'],axis=1)
y=train[['price']]

In [68]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=11)

In [69]:
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(7858, 39) (1965, 39)
(7858, 1) (1965, 1)

In [70]:
y_test

      price
9794  11495
4664  41900
3713  25495
8999  18135
3890  26000
...     ...
6     29955
1912  24780
2495   8940
2394  16989
1079  25389

[1965 rows x 1 columns]

In [71]:
# 예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출,
# 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse

from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor()
model.fit(X_train,y_train)

c:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [72]:
pred=model.predict(X_test)

In [73]:
pred

array([10979.64, 39686.18, 22519.07, ..., 11229.37, 16807.72, 28197.53])

In [75]:
pred=pd.DataFrame({'pred':pred})

In [76]:
pred

          pred
0     10979.64
1     39686.18
2     22519.07
3     18114.19
4     28690.80
...        ...
1960  27985.97
1961  27325.51
1962  11229.37
1963  16807.72
1964  28197.53

[1965 rows x 1 columns]

In [189]:
import sklearn
dir(sklearn.metrics)

['ConfusionMatrixDisplay',
 'DetCurveDisplay',
 'DistanceMetric',
 'PrecisionRecallDisplay',
 'PredictionErrorDisplay',
 'RocCurveDisplay',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_base',
 '_classification',
 '_dist_metrics',
 '_pairwise_distances_reduction',
 '_pairwise_fast',
 '_plot',
 '_ranking',
 '_regression',
 '_scorer',
 'accuracy_score',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'auc',
 'average_precision_score',
 'balanced_accuracy_score',
 'brier_score_loss',
 'calinski_harabasz_score',
 'check_scoring',
 'class_likelihood_ratios',
 'classification_report',
 'cluster',
 'cohen_kappa_score',
 'completeness_score',
 'confusion_matrix',
 'consensus_score',
 'coverage_error',
 'd2_absolute_error_score',
 'd2_log_loss_score',
 'd2_pinball_score',
 'd2_tweedie_score',
 'davies_bouldin_score',
 'dcg_score',
 'det_curve',
 'euclidean_distances',
 'explained_variance_score',
 'f1_score',
 'fbeta_score',
 'fowlkes_mallows_score',
 'get_scorer',
 'get_scorer_names',
 'hamming_loss',
 'hinge_loss',
 'homogeneity_completeness_v_measure',
 'homogeneity_score',
 'jaccard_score',
 'label_ranking_average_precision_score',
 'label_ranking_loss',
 'log_loss',
 'make_scorer',
 'matthews_corrcoef',
 'max_error',
 'mean_absolute_error',
 'mean_absolute_percentage_error',
 'mean_gamma_deviance',
 'mean_pinball_loss',
 'mean_poisson_deviance',
 'mean_squared_error',
 'mean_squared_log_error',
 'mean_tweedie_deviance',
 'median_absolute_error',
 'multilabel_confusion_matrix',
 'mutual_info_score',
 'nan_euclidean_distances',
 'ndcg_score',
 'normalized_mutual_info_score',
 'pair_confusion_matrix',
 'pairwise',
 'pairwise_distances',
 'pairwise_distances_argmin',
 'pairwise_distances_argmin_min',
 'pairwise_distances_chunked',
 'pairwise_kernels',
 'precision_recall_curve',
 'precision_recall_fscore_support',
 'precision_score',
 'r2_score',
 'rand_score',
 'recall_score',
 'roc_auc_score',
 'roc_curve',
 'root_mean_squared_error',
 'root_mean_squared_log_error',
 'silhouette_samples',
 'silhouette_score',
 'top_k_accuracy_score',
 'v_measure_score',
 'zero_one_loss']

In [77]:
from sklearn.metrics import mean_squared_error, median_absolute_error, root_mean_squared_error, r2_score

MSE=mean_squared_error(y_test,pred)
MAE=median_absolute_error(y_test,pred)
RMSE=root_mean_squared_error(y_test,pred)
r2=r2_score(y_test,pred)

In [78]:
print('MSE:',MSE)
print('MAE:',MAE)
print('RMSE:',RMSE)
print('r2:',r2)

MSE: 7072529.4227337465
MAE: 1023.8899999999994
RMSE: 2659.422761189681
r2: 0.947545384327914